<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "my blog", root_path , id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= if current_user
                      link_to "Home", user_path(current_user)
                    else
                      link_to "Sign Up", new_user_path
                    end
                %>
            </li>
            <li><%= if current_user
                      link_to "Log Out", session_path, method: :delete
                    else
                      link_to "Sign in", new_session_path
                    end
                %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
